<h1>Novo Cliente</h1>

<%= form_with(model: @customer, url: customers_path, method:post) do |form| %>
    <div>
        <%= form.label :name %>
        <%= form.<%= text_field :name %>
    </div>

    <div>
        <%= form.label :email %>
        <%= form.<%= text_field :email %>
    </div>

        <div>
        <%= form.label :phone %>
        <%= form.<%= text_field :phone %>
    </div>

    <%= form.submit "Salvar" %>
<% end %>